version: '3.8'

services:
  vitalis-primary:
    build: 
      context: .
      dockerfile: Dockerfile.vitalis-primary
    container_name: vitalis-primary
    hostname: vitalis-primary
    networks:
      - vitalis-network
    environment:
      - ORACLE_SID=VITALIS
      - ORACLE_STANDBY_SID=VITALISSB
      - ORACLE_PDB=VITALISPDB1
      - ORACLE_STANDBY_PDB=VITALISBPDB1
      - ORACLE_PWD=Vitalis123
      - ORACLE_EDITION=enterprise
      - ORACLE_CHARACTERSET=AL32UTF8
      - ENABLE_ARCHIVELOG=true
      - ENABLE_FORCE_LOGGING=true
    ports:
      - "1521:1521"
      - "5500:5500"
      - "2221:22"
    volumes:
      - vitalis-data-primary:/opt/oracle/oradata
      - vitalis-backup-primary:/opt/oracle/backup
      - ./scripts/main:/home/oracle/scripts
    restart: unless-stopped
    mem_limit: 4g
    shm_size: 1g

  vitalis-standby:
    build: 
      context: .
      dockerfile: Dockerfile.vitalis-standby
    container_name: vitalis-standby
    hostname: vitalis-standby
    networks:
      - vitalis-network
    environment:
      - ORACLE_SID=VITALISSB
      - ORACLE_MAIN_SID=VITALIS
      - ORACLE_PDB=VITALISBPDB1
      - ORACLE_MAIN_PDB=VITALISPDB1
      - ORACLE_PWD=Vitalis123
      - ORACLE_EDITION=enterprise
      - ORACLE_CHARACTERSET=AL32UTF8
      - ENABLE_ARCHIVELOG=true
      - ENABLE_FORCE_LOGGING=true
    ports:
      - "1522:1521"
      - "5501:5500"
      - "2222:22"
    volumes:
      - vitalis-data-standby:/opt/oracle/oradata
      - vitalis-backup-standby:/opt/oracle/backup
      - ./scripts/standby:/home/oracle/scripts
    restart: unless-stopped
    mem_limit: 4g
    shm_size: 1g
    depends_on:
      - vitalis-primary

volumes:
  vitalis-data-primary:
  vitalis-backup-primary:
  vitalis-data-standby:
  vitalis-backup-standby:

networks:
  vitalis-network:
    driver: bridge